@charset "utf-8";
/* CSS Document */

.msg-erro{
	background-color:rgba(233,38,41,1.00);
	 border:solid 2px #A40407;
	  border-radius:4px; width:100%;
	   padding:5px;
	   color:#fff;
	   text-align:center;
	}
	.msg-confimacao{
	background-color:rgba(37,233,66,1.00);
	 border:solid 2px rgba(24,106,26,1.00);
	  border-radius:4px; width:100%;
	   padding:5px;
	   color:#fff;
	   text-align:center;
	}
/*personalização do cadastro de avaliador*/
.login-box{ margin:0 auto;width: 30%; min-width: 300px}
.login-box-msg{text-align: center}
.login-logo a{width:50%; text-align:center}
.login-logo a img{width:95%; }
.login-logo{ padding: 0 10%;}
.login-box-body{ border:solid 1px #ccc;background-color:rgba(255,255,255,0.8); padding: 10px;}
label{color: #000; border:solid 1px #ccc; padding: 2px; border-radius: 2px;box-shadow:inset 0px 0px 3px 3px #AEAEAE;}
